<!DOCTYPE html>
<html ng-app="delegations">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/bower_components/ngQuickDate/dist/ng-quick-date.css' />
    <link rel='stylesheet' href='/bower_components/ngQuickDate/dist/ng-quick-date-default-theme.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-controller="mainCtrl">
    <div class="container theme-showcase">

      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>

      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-6">
            <legend><%= __('Basic stuff') %></legend>
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label"><%= __('Your name') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="<%= __('Your name') %>" ng-model="fullName">
              </div>
            </div>
            <div class="form-group">
              <label for="destination-country" class="col-sm-3 control-label"><%= __('Country, City') %></label>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <select class="form-control" id="destination-country" placeholder="<%= __('Select destination country') %>"
                      ng-model="country" ng-options="el.name<%= locale.toUpperCase() %> for el in countriesList | orderBy:'name<%= locale.toUpperCase() %>'"></select>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="destination" placeholder="<%= __('City') %>" ng-model="destCity">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="delegation-title" class="col-sm-3 control-label"><%= __('Delegation title') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="delegation-title" placeholder="<%= __('Delegation title') %>" ng-model="delegationTitle">
              </div>
            </div>
            <div class="form-group">
              <label for="transport-type" class="col-sm-3 control-label"><%= __('Transport type') %></label>
              <div class="col-sm-9">
                <select class="form-control" id="transport-type" placeholder="<%= __('Transport type') %>"
                      ng-model="transportName" ng-options="el for el in transportWays"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="start-city" class="col-sm-3 control-label"><%= __('Start city') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="start-city" placeholder="<%= __('Start city') %>" ng-model="startCity">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <legend><%= __('Delegation details') %> <div class="label label-info pull-right">{{delegationCost() | number:2}} {{country.currency}}</div></legend>
            <div class="delegation-dates row">
              <div class="col-sm-5">
                <label><%= __('Departure time') %></label>
                <div class="date-form">
                  <datepicker ng-model='dateFrom' date-format="dd-MM-yyyy" time-format="HH:mm" on-change="datesChange()" />
                </div>
              </div>
              <div class="col-sm-5">
                <label><%= __('Arrival time') %></label>
                <div class="date-form">
                  <datepicker ng-model='dateTo' date-format="dd-MM-yyyy" time-format="HH:mm" on-change="datesChange()" />
                </div>
              </div>
              <div class="col-sm-2">
                <div><span class="label label-info">12h+</span> {{days.fullDays}}</div>
                <div><span class="label label-info">8h-12h</span> {{days.halfDays}}</div>
                <div><span class="label label-info">to 8h</span> {{days.oneThirdDays}}</div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
    <script type="text/javascript" src="/js/mainCtrl.js"></script>
  </body>
</html>