<!DOCTYPE html>
<html ng-app="delegations">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-controller="mainCtrl">
    <div class="navbar navbar-inverse navbar-patterned navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b><%= title %></b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="steps">
                <button class="step btn btn-default" ng-click="changeStep(1)"><%= __('Step') %> 1</button> <i class="icon-caret-right icon-light"></i>
                <button class="step btn btn-default" ng-click="changeStep(2)" ng-disabled="!isFirstStepValid(step1Form)"><%= __('Step') %> 2</button> <i class="icon-caret-right icon-light"></i>
                <button class="step btn btn-default" ng-click="changeStep(3)" ng-disabled="!isFirstStepValid(step1Form)"><%= __('Step') %> 3</button> <i class="icon-caret-right icon-light"></i>
                <button class="step btn btn-success step-final" ng-click="goToPrint()" ng-disabled="!isFirstStepValid(step1Form) || step3Form.$invalid"><%= __('Print') %></button>
              </div>
            </li>
            <li>
              <div class="diem">
                <div class="title"><%= __('Diem amount') %></div>
                <div class="price"><strong>{{delegationCost() | number:2}}</strong> {{root.country.currency}}</div>
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container theme-showcase">

      <form novalidate class="form-horizontal" role="form">
        <fieldset ng-show="step === 1" class="row" ng-form="step1Form">
          <div class="col-md-8  col-sm-12">
            <legend><%= __('Basic stuff') %></legend>
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label"><%= __('Your name') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="<%= __('Your name') %>" ng-model="root.fullName" required>
              </div>
            </div>
            <div class="form-group">
              <label for="destination-country" class="col-sm-3 control-label"><%= __('Country, City') %></label>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6 col-xs-6">
                    <select class="form-control" id="destination-country" placeholder="<%= __('Select destination country') %>" ng-change="refreshCurrencyRate()" required
                      ng-model="root.country" ng-options="el.name<%= locale.toUpperCase() %> for el in countriesList | orderBy:'name<%= locale.toUpperCase() %>'"></select>
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <input type="text" class="form-control" id="destination" placeholder="<%= __('City') %>" ng-model="root.destCity">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="delegation-title" class="col-sm-3 control-label"><%= __('Delegation title') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="delegation-title" placeholder="<%= __('Delegation title') %>" ng-model="root.delegationTitle" required>
              </div>
            </div>
            <div class="form-group">
              <label for="delegation-no" class="col-sm-3 control-label"><%= __('Delegation number') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="delegation-no" placeholder="<%= __('for example: 4/12/2013') %>" ng-model="root.delegationNo" required>
              </div>
            </div>
            <div class="form-group">
              <label for="start-city" class="col-sm-3 control-label"><%= __('Start city') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="start-city" placeholder="<%= __('Start city') %>" ng-model="root.startCity">
              </div>
            </div>
            <div class="form-group">
              <label for="submit-date" class="col-sm-3 control-label"><%= __('Submit date') %></label>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="submit-date" placeholder="<%= __('yyyy-mm-dd') %>" datepicker-popup="yyyy-MM-dd" ng-model="root.submitDate" datepicker-options="dateOptions" ng-required="true"  ng-change="refreshCurrencyRate()" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><%= __('Exchange rate date') %></label>
              <div class="col-sm-9">
                <strong disabled class="form-control">{{root.exchangeRate.submitDate}}</strong>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><%= __('Exchange rate') %></label>
              <div class="col-sm-9">
                <strong disabled class="form-control">{{root.exchangeRate.averageRate | number:4}}</strong>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-12">
            <legend><%= __('Travel details') %></legend>
            <div class="delegation-dates row">
              <div class="col-sm-6 col-md-12">
                <h4><%= __('Departure') %></h4>
                <label>
                  <%= __('Date and time') %> ({{root.startCity}})
                </label>
                <div class="row form-group">
                  <div class="col-sm-7 col-xs-7">
                    <input type="text" class="form-control" placeholder="<%= __('yyyy-mm-dd') %>" datepicker-popup="yyyy-MM-dd" ng-model="root.departure.date" datepicker-options="dateOptions" ng-required="true"  ng-change="datesChange(this)" />
                  </div>
                  <div class="col-sm-5 col-xs-5">
                    <input type="text" class="form-control" required ng-model="root.departure.time" placeholder="<%= __('HH:mm') %>" ng-change="datesChange(this)" ng-pattern="timePattern">
                  </div>
                </div>
                <div class="form-group">
                  <label for="depDuration" class="col-sm-7 control-label"><%= __('Travel time') %></label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" min="0" required class="form-control" id="depDuration" ng-model="root.departure.duration" >
                      <span class="input-group-addon">h</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="depTransport" class="col-sm-7 control-label"><%= __('Transport type') %></label>
                  <div class="col-sm-5">
                    <select class="form-control" id="depTransport" placeholder="<%= __('Transport type') %>" required
                      ng-model="root.departure.transport" ng-options="el.name<%= locale.toUpperCase() %> for el in transportWays"></select>
                  </div>
                </div>

                <hr/>
              </div>

              <div class="col-sm-6 col-md-12">
                <h4><%= __('Arrival') %></h4>
                <label>
                  <%= __('Date and time') %> ({{root.startCity}})
                </label>
                <div class="row form-group">
                  <div class="col-sm-7 col-xs-7">
                    <input type="text" class="form-control" placeholder="<%= __('yyyy-mm-dd') %>" datepicker-popup="yyyy-MM-dd" ng-model="root.arrival.date" datepicker-options="dateOptions" ng-required="true"  ng-change="datesChange(this)" />
                  </div>
                  <div class="col-sm-5 col-xs-5">
                    <input type="text" class="form-control" required ng-model="root.arrival.time" placeholder="<%= __('HH:mm') %>" ng-change="datesChange(this)" ng-pattern="timePattern">
                  </div>
                </div>
                <div class="form-group">
                  <label for="arrDuration" class="col-sm-7 control-label"><%= __('Travel time') %></label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" min="0" required class="form-control" id="arrDuration" ng-model="root.arrival.duration" >
                      <span class="input-group-addon">h</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="arrTransport" class="col-sm-7 control-label"><%= __('Transport type') %></label>
                  <div class="col-sm-5">
                    <select class="form-control" id="arrTransport" placeholder="<%= __('Transport type') %>" required
                      ng-model="root.arrival.transport" ng-options="el.name<%= locale.toUpperCase() %> for el in transportWays"></select>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </fieldset>

        <fieldset ng-show="step === 2" ng-form="step2Form">
          <legend><%= __('Delegation details') %></legend>
          <blockquote><%= __('Please select meals that were provided for you (by hotel or company)') %></blockquote>

          <table class="table table-striped days-container">
            <thead>
              <tr>
                <th><%= __('Delegation day') %></th>
                <th></th>
                <th><%= __('Breakfast') %></th>
                <th><%= __('Dinner') %></th>
                <th><%= __('Supper') %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="5">
                  <%= __('First day: ') %>
                  <strong>{{root.delegationDays.first().date | date:'yyyy-MM-dd (EEEE)'}}</strong>
                </td>
              </tr>
              <tr ng-repeat="day in root.delegationDays">
                <td>{{day.fromDate | date:'(EEE) HH:mm'}} - {{day.toDate | date:'(EEE) HH:mm'}}</td>
                <td>
                  <span class="label label-info">{{day.hours | number:1}}h</span>
                </td>
                <td>
                  <input type="checkbox" ng-model="day.provBreakfast" >
                </td>
                <td>
                  <input type="checkbox" ng-model="day.provDinner" >
                </td>
                <td>
                  <input type="checkbox" ng-model="day.provSupper" >
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <%= __('Last day: ') %>
                  <strong>{{root.delegationDays.last().date | date:'yyyy-MM-dd (EEEE)'}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>

        <fieldset ng-show="step === 3" ng-form="step3Form">
          <legend><%= __('Additional expenses') %></legend>
          <div class="expenses-group">
            <div class="expense">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <b><%= __('Diem') %></b>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <b>{{delegationCost() | number:2}} {{root.country.currency}}</b>
                </div>
                <div class="col-sm-6">

                </div>
              </div>
            </div>

            <div class="expense" ng-repeat="exp in root.expenses">
              <div class="row">
                <div class="col-sm-3">
                  <input type="text" required class="form-control" placeholder="<%= __('Expense name') %>" ng-model="exp.name">
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="input-group">
                    <input type="number" min="0" required class="form-control" placeholder="<%= __('0.00') %>" ng-model="exp.price">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{exp.currency}} <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li ng-class="{ 'active': exp.currency == root.country.currency }"><a href="#" ng-click="changeCurrency(exp, root.country.currency)">{{root.country.currency}}</a></li>
                        <li ng-class="{ 'active': exp.currency == 'PLN' }"><a href="#" ng-click="changeCurrency(exp, 'PLN')">PLN</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div ng-show="!exp.rateType">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="changeRateType(exp, 1)" title="<%= __('Edit rate for this expense') %>">
                          <i class="icon-pencil"></i>
                        </button>
                      </span>
                      <span class="form-control readonly" ng-show="!exp.rateType">{{root.exchangeRate.averageRate | number:4}} zł</span>
                    </div>
                  </div>
                  <div ng-show="exp.rateType">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="changeRateType(exp, 0)" title="<%= __('Use default rate') %>">
                          <i class="icon-remove"></i>
                        </button>
                      </span>
                      <input type="number" min="0" class="form-control" placeholder="<%= __('Custom rate') %>" ng-model="exp.customRate" ng-show="exp.rateType">
                      <span class="input-group-addon">zł</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="<%= __('Annotations') %>" ng-model="exp.desc">
                </div>
              </div>
            </div>

            <button class="btn btn-lg btn-primary" ng-click="addExpense()">
              <%= __('Add another expense') %>
            </button>
          </div>
        </fieldset>
      </form>

    </div>

    <div id="footer">
      <div class="container">
        <button class="btn btn-lg btn-success pull-right" ng-show="step === 3"  ng-click="goToPrint()" ng-disabled="!isValid(step1Form, step3Form)">
          <%= __('Print delegation form') %> <i class="icon-caret-right"></i>
        </button>
        <button class="btn btn-lg btn-default pull-right" ng-show="step < 3" ng-click="changeStep(step + 1)" ng-disabled="!isStepValid(step1Form, step3Form)">
          <%= __('Go to the next step') %> <i class="icon-caret-right"></i>
        </button>
        <p class="centered">
          Created by <b>PureDev, Piotr Dąbrowski</b>
        </p>
      </div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/sugar/release/sugar.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-i18n/angular-locale_pl.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/js/mainCtrl.js"></script>
  </body>
</html>