<!DOCTYPE html>
<html ng-app="delegations">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-controller="mainCtrl">
    <div class="navbar navbar-inverse navbar-patterned navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Delegation Wizard</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="diem">
                <div class="title"><%= __('Diem amount') %></div>
                <div class="price"><strong>{{delegationCost() | number:2}}</strong> {{country.currency}}</div>
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container theme-showcase">

      <form novalidate class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-6">
            <legend><%= __('Basic stuff') %></legend>
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label"><%= __('Your name') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="<%= __('Your name') %>" ng-model="fullName" required>
              </div>
            </div>
            <div class="form-group">
              <label for="destination-country" class="col-sm-3 control-label"><%= __('Country, City') %></label>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <select class="form-control" id="destination-country" placeholder="<%= __('Select destination country') %>" required
                      ng-model="country" ng-options="el.name<%= locale.toUpperCase() %> for el in countriesList | orderBy:'name<%= locale.toUpperCase() %>'"></select>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="destination" placeholder="<%= __('City') %>" ng-model="destCity">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="delegation-title" class="col-sm-3 control-label"><%= __('Delegation title') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="delegation-title" placeholder="<%= __('Delegation title') %>" ng-model="delegationTitle" required>
              </div>
            </div>
            <div class="form-group">
              <label for="transport-type" class="col-sm-3 control-label"><%= __('Transport type') %></label>
              <div class="col-sm-9">
                <select class="form-control" id="transport-type" placeholder="<%= __('Transport type') %>" required
                      ng-model="transportName" ng-options="el.name<%= locale.toUpperCase() %> for el in transportWays"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="start-city" class="col-sm-3 control-label"><%= __('Start city') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="start-city" placeholder="<%= __('Start city') %>" ng-model="startCity">
              </div>
            </div>
            <div class="form-group">
              <label for="submit-date" class="col-sm-3 control-label"><%= __('Submit date') %></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="submit-date" placeholder="<%= __('yyyy-mm-dd') %>" ng-model="submitDate" required>
              </div>
            </div>

            <legend><%= __('Travel details') %></legend>
            <div class="delegation-dates row">
              <div class="col-sm-6">
                <label><%= __('Departure date and time') %></label>
                <div class="date-form row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control" required ng-model="dateFrom" placeholder="<%= __('yyyy-mm-dd') %>" ng-change="datesChange(this)" ng-pattern="datePattern">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" required ng-model="dateTimeFrom" placeholder="<%= __('HH:mm') %>" ng-change="datesChange(this)" ng-pattern="timePattern">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label><%= __('Arrival date and time') %></label>
                <div class="date-form row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control" required ng-model="dateTo" placeholder="<%= __('yyyy-mm-dd') %>" ng-change="datesChange(this)" ng-pattern="datePattern">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" required ng-model="dateTimeTo" placeholder="<%= __('HH:mm') %>" ng-change="datesChange(dateTimeTo)" ng-pattern="timePattern">
                  </div>
                </div>
              </div>

            </div>

            <legend><%= __('Additional expenses') %></legend>
            <div class="expenses-group">
              <div class="form-group">
                <label for="transport-cost1" class="col-sm-3 control-label"><%= __('Transport to/from station') %></label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control" id="transport-cost1" placeholder="<%= __('0.00') %>" ng-model="transportCost1">
                    <span class="input-group-addon">{{country.currency}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <legend><%= __('Delegation details') %></legend>
            <blockquote><%= __('Please select meals that were provided for you (by hotel or company)') %></blockquote>

            <table class="table table-striped days-container">
              <thead>
                <tr>
                  <th><%= __('Date') %></th>
                  <th></th>
                  <th><%= __('Breakfast') %></th>
                  <th><%= __('Dinner') %></th>
                  <th><%= __('Supper') %></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="day in delegationDays">
                  <td>{{day.date}}</td>
                  <td>
                    <span class="label label-info" ng-show="day.dayType === 1">1</span>
                    <span class="label label-info" ng-show="day.dayType === 2">1/2</span>
                    <span class="label label-info" ng-show="day.dayType === 3">1/3</span>
                  </td>
                  <td>
                    <input type="checkbox" ng-model="day.provBreakfast" >
                  </td>
                  <td>
                    <input type="checkbox" ng-model="day.provDinner" >
                  </td>
                  <td>
                    <input type="checkbox" ng-model="day.provSupper" >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
      <!-- <div class="col-sm-2">
                <div><span class="label label-info">12h+</span> {{days.fullDays}}</div>
                <div><span class="label label-info">8h-12h</span> {{days.halfDays}}</div>
                <div><span class="label label-info">to 8h</span> {{days.oneThirdDays}}</div>
              </div> -->
    </div>

    <div id="footer">
      <div class="container">
        <p class="centered">
          Created by <b>PureDev, Piotr Dąbrowski</b>
        </p>
      </div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/sugar/release/sugar.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/globalize/lib/globalize.js"></script>
    <script type="text/javascript" src="/bower_components/globalize/lib/cultures/globalize.culture.pl.js"></script>
    <script type="text/javascript" src="/js/mainCtrl.js"></script>
  </body>
</html>